.ui.borderless.custom.menu{
  background-color: #f5f5f5;
  box-shadow: none;
  border: none;
}

.ui.borderless.middlecustom.menu{
  box-shadow: none;
  border: none;
}

.footer-background{
  background-color: #313131;
}

.ui.footer-menu{
  padding-top: 20px;
  padding-bottom: 10px;
  color: white;
}